.input_three::-webkit-input-placeholder {
  position: absolute;
  top: 13px;
  left: 15px;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  cursor: not-allowed;
  /* background-color: gray; */
}

@media screen and (max-width: 767px) {
  .input_three::-webkit-input-placeholder {
    top: 17px;
  }
}
